service: fastapi-lambda

provider:
  name: aws
  runtime: python3.9
  region: ap-south-1   # Change if needed

functions:
  app:
    handler: app.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
